* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  
  /* [vue-scroll] show when hover */
  .__vuescroll:hover {
    > .__rail-is-vertical {
      .__bar-is-vertical {
        opacity: 1 !important;
      }
    }
    > .__rail-is-horizontal {
      .__bar-is-horizontal {
        opacity: 1 !important;
      }
    }
  }
