$menu-bg-color: #91c1f1;
$menu-bg-active-color: #fff;
$menu-font-color: #fff;
$menu-font-active-color: #3a8ee6;
$submenu-bg-color: #fff;
$submenu-bg-active-color: #fff;
$submenu-font-color: #303133;
$submenu-font-active-color: #3a8ee6;
$border-color: rgb(220, 223, 230);
